<div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" ngModel name="username" required/>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" ngModel name="email" required email #emailValidationCheck = "ngModel"/>
      <p  *ngIf="!emailValidationCheck.valid && emailValidationCheck.touched">Not a valid email</p>
    </div>
    <div>
      <label for="secret">Secret Question</label>
      <select id="secret" ngModel name="secret" [ngModel]="defaultOption">
        <option value="pet">Your First Pet?</option>
        <option value="sport">Your favourite sports?</option>
        <option value="travelLocation">
          Your dream location for travelling?
        </option>
        <option value="colour">your favourite colour?</option>
      </select>
    </div>
    <button type="submit" [disabled]="!f.valid">Submit</button>
  </form>
</div>
